**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/env/
**/venv/
**/.venv/
**/.uv/
**/.env
**/.venv*

**/*.log
**/*.sqlite
**/*.db

**/.vscode/
**/.idea/
**/*.swp
**/*.swo

**/.git/
**/.gitignore

**/.DS_Store
**/Thumbs.db

**/postgres_data/

**/Dockerfile
**/docker-compose*
**/.dockerignore